
.highlight_header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:80px;
width:105%;
background-color:#ffff;
margin:5px;
padding-bottom:25px;
padding-top:15px;
}
.sign-out1{

    margin-left: 1420px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color:purple;
    color: white;
    padding: 8px;
    margin: 10px;

}

.sign-out3{
    margin-right: 500px;
    padding: 8px;
    margin: 8px;

}
.sign-out1:hover{

    background-color:blue;
    color: white;
}
.backtoHomepage{
    text-decoration: none;
   position: absolute;
   /* left: 250px; */
   left: 50px;
}
.backtoHomepage1{
   position: absolute;
   left: 143px;
}
.toggle{
    color:blue;
  
}
.toggle-sidebar{
    width:230px;
}

 .fa-bars{
   margin-left: 8px;
   margin-top:10px;
}
.getEmail{
   color:orange;
   margin-left: 1270px;

}
.getEmail2{
    margin-left: 1150px;
 
 }
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 14%;
    background-color:rgb(34 33 33 / 84%);
    color:white;
    z-index:9999;
    padding:20px 30px;
    transition: width 0.3s ease; 
}
.collapsed{
    width:100px;
}
.sidebar h4,.fa-bars {
    margin-bottom: 20px;
}
.sidebar h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size:1em;
   
     
}
.sidebar  .icon{
    margin-right:20px;
}


@media screen and (max-width:400px){
    .sidebar{
        width:24%;

    }
    .highlight_header{
        width:400%;
    }
    .getEmail{
        color:orange;
        margin-left: 280px;
     
     }
    .getEmail2{
        margin-left: 150px;
        margin-top: 50px;
}
.backtoHomepage{
   
   left: 90px;
}
.backtoHomepage1{
   left: 130px;
}

/* .collapsed{
        width:40%;  

    } */

}